body {
    font-family: Arial, sans-serif;
    background-color: #000040; /* Background color of the page */
    color: white; /* Default text color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
  /* Style the scrollbar itself */
  ::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
  }  

/* Navbar styles */
nav {
    background-color: #0230f7; /* Navbar background color */
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between sections */
    position: relative;
}

nav .left, nav .center, nav .right {
    flex: 1; /* Equal width for all sections */
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start; /* Align the button to the left */
    align-items: center;
}

.comp-button {
    background: none;
    border: none;
    cursor: pointer;
}

.comp-button:hover {
    background-color: #0a0a61; /* Darker shade on hover */
}

.comp-button img {
    width: 2em; /* Adjust size as needed */
    height: 2em; /* Adjust size as needed */
}

nav .center {
    justify-content: center; /* Center the h1 */
}

nav .right {
    justify-content: flex-end; /* Align the button to the right */
}

nav h1 {
    margin: 0;
}

.copy-btn {
    background-color: #0230f7; /* Match the navbar color */
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1.2em; /* Adjust size to fit the icon */
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-btn:hover {
    background-color: #0a0a61; /* Darker shade on hover */
}

/* Container for main content */
.container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust height based on navbar height */
}

#league-table {
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%;
    display: none; /* Initially hidden */
}

#league-table img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* Specific styles for columns */
#league-table th:nth-child(1), #league-table td:nth-child(1) {
    text-align: center; /* Center position */
}

#league-table th:nth-child(2), #league-table td:nth-child(2) {
    text-align: left; /* Align logo to the left */
}

#league-table th:nth-child(3), #league-table td:nth-child(3) {
    text-align: left; /* Align team names to the left */
    min-width: 150px; /* Minimum width for team names */
}

#league-table th:nth-child(n+4), #league-table td:nth-child(n+4) {
    /* Adjust this range as needed if you add more columns */
    width: 100px; /* Equal width for text columns */
    text-align: center; /* Center align text columns */
}

/* Add styles for the top 8 teams */
#league-table .top-8 {
    background-color: #17177a; /* Light blue background for the top 8 teams */
}

/* Add styles for the teams between 9-24 */
#league-table .top-24 {
    background-color: #0a0a61; /* Dark blue background for the teams between 9-24 */
}

/* Container for matchdays */
#matches {
    width: 66.67%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Stack matchdays vertically */
    height: 100%;
}

/* Matchday container */
.matchday {
    display: grid;
    grid-template-columns: 1fr; /* Single column for the matchday header */
    gap: 20px;
    margin-bottom: 20px;
}

/* Matchday header */
.matchday h2 {
    grid-column: span 2; /* Span the entire width of the grid */
    margin: 0;
}

/* Matches container within the matchday */
.matchday .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for matches */
    gap: 20px;
}

/* Individual match */
.match {
    background-color: #0a0a61;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Optional: Adds shadow for better separation */
}

/* Flex container for home and away */
.home, .away {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.home img, .away img {
    height: 40px;
    margin-right: 10px;
}

.home span, .away span {
    margin: 0 10px;
}

input[type="number"], input[type="text"] {
    background-color: #0a0a61;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px;
    padding: 0;
    border: 2px solid #00eeff;
    border-radius: 5px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::placeholder,
input[type="text"]::placeholder {
    color: #999;
}

/* Media query for devices where height is larger than width */
@media (orientation: portrait) {
    #matches {
        width: 100%;
    }

    .matchday .matches {
        grid-template-columns: 1fr; /* Single column layout for portrait mode */
    }
}

#loading-indicator {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

/* Notification styles */
.notification {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed positioning */
    bottom: 20px; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset the element by half its width to truly center it */
    background-color: #0230f7; /* Blue background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for better visibility */
    font-size: 16px; /* Font size */
    z-index: 1000; /* Ensure it appears above other content */
}
